## Import Libraries

In [1]:
# conventional way to import polars
import polars as pl

## Data Loading

In [2]:
# read_csv:      uses to load a CSV file into a DataFrame
# separator=',': uses to specify the separator in the CSV file.
df = pl.read_csv('./data/transactions.csv',separator=',')

##  Data Processing

####  Data Schema

In [3]:
# Get the schema of the dataFrame
df.schema

OrderedDict([('User_ID', Int64),
             ('Product_ID', String),
             ('Gender', String),
             ('Age', String),
             ('Occupation', Int64),
             ('City_Category', String),
             ('Stay_In_Current_City_Years', String),
             ('Marital_Status', Int64),
             ('Purchase', Int64)])

#### Number of Rows and Columns

In [4]:
# Check the shape of the DataFrame (rows, columns)
df.shape

(550069, 9)

#### Data Sample

In [5]:
# Display the first 5 rows.
df.head()

shape: (5, 9)
┌─────────┬────────────┬────────┬──────┬───┬──────────────┬──────────────┬──────────────┬──────────┐
│ User_ID ┆ Product_ID ┆ Gender ┆ Age  ┆ … ┆ City_Categor ┆ Stay_In_Curr ┆ Marital_Stat ┆ Purchase │
│ ---     ┆ ---        ┆ ---    ┆ ---  ┆   ┆ y            ┆ ent_City_Yea ┆ us           ┆ ---      │
│ i64     ┆ str        ┆ str    ┆ str  ┆   ┆ ---          ┆ rs           ┆ ---          ┆ i64      │
│         ┆            ┆        ┆      ┆   ┆ str          ┆ ---          ┆ i64          ┆          │
│         ┆            ┆        ┆      ┆   ┆              ┆ str          ┆              ┆          │
╞═════════╪════════════╪════════╪══════╪═══╪══════════════╪══════════════╪══════════════╪══════════╡
│ 1000001 ┆ P00069042  ┆ F      ┆ 0-17 ┆ … ┆ A            ┆ 2            ┆ 0            ┆ 8370     │
│ 1000001 ┆ P00248942  ┆ F      ┆ 0-17 ┆ … ┆ A            ┆ 2            ┆ 0            ┆ 15200    │
│ 1000001 ┆ P00087842  ┆ F      ┆ 0-17 ┆ … ┆ A            ┆ 2            ┆ 0            ┆ 1422     │
│ 1000001 ┆ P00085442  ┆ F      ┆ 0-17 ┆ … ┆ A            ┆ 2            ┆ 0            ┆ 1057     │
│ 1000002 ┆ P00285442  ┆ M      ┆ 55+  ┆ … ┆ C            ┆ 4+           ┆ 0            ┆ 7969     │
└─────────┴────────────┴────────┴──────┴───┴──────────────┴──────────────┴──────────────┴──────────┘

In [6]:
# Display the first 10 rows.
df.head(10)

shape: (10, 9)
┌─────────┬────────────┬────────┬───────┬───┬──────────────┬──────────────┬─────────────┬──────────┐
│ User_ID ┆ Product_ID ┆ Gender ┆ Age   ┆ … ┆ City_Categor ┆ Stay_In_Curr ┆ Marital_Sta ┆ Purchase │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆   ┆ y            ┆ ent_City_Yea ┆ tus         ┆ ---      │
│ i64     ┆ str        ┆ str    ┆ str   ┆   ┆ ---          ┆ rs           ┆ ---         ┆ i64      │
│         ┆            ┆        ┆       ┆   ┆ str          ┆ ---          ┆ i64         ┆          │
│         ┆            ┆        ┆       ┆   ┆              ┆ str          ┆             ┆          │
╞═════════╪════════════╪════════╪═══════╪═══╪══════════════╪══════════════╪═════════════╪══════════╡
│ 1000001 ┆ P00069042  ┆ F      ┆ 0-17  ┆ … ┆ A            ┆ 2            ┆ 0           ┆ 8370     │
│ 1000001 ┆ P00248942  ┆ F      ┆ 0-17  ┆ … ┆ A            ┆ 2            ┆ 0           ┆ 15200    │
│ 1000001 ┆ P00087842  ┆ F      ┆ 0-17  ┆ … ┆ A            ┆ 2            ┆ 0           ┆ 1422     │
│ 1000001 ┆ P00085442  ┆ F      ┆ 0-17  ┆ … ┆ A            ┆ 2            ┆ 0           ┆ 1057     │
│ 1000002 ┆ P00285442  ┆ M      ┆ 55+   ┆ … ┆ C            ┆ 4+           ┆ 0           ┆ 7969     │
│ 1000003 ┆ P00193542  ┆ M      ┆ 26-35 ┆ … ┆ A            ┆ 3            ┆ 0           ┆ 15227    │
│ 1000004 ┆ P00184942  ┆ M      ┆ 46-50 ┆ … ┆ B            ┆ 2            ┆ 1           ┆ 19215    │
│ 1000004 ┆ P00346142  ┆ M      ┆ 46-50 ┆ … ┆ B            ┆ 2            ┆ 1           ┆ 15854    │
│ 1000004 ┆ P0097242   ┆ M      ┆ 46-50 ┆ … ┆ B            ┆ 2            ┆ 1           ┆ 15686    │
│ 1000005 ┆ P00274942  ┆ M      ┆ 26-35 ┆ … ┆ A            ┆ 1            ┆ 1           ┆ 7871     │
└─────────┴────────────┴────────┴───────┴───┴──────────────┴──────────────┴─────────────┴──────────┘

In [7]:
# Display the last 5 rows.
df.tail()

shape: (5, 9)
┌─────────┬────────────┬────────┬───────┬───┬──────────────┬──────────────┬─────────────┬──────────┐
│ User_ID ┆ Product_ID ┆ Gender ┆ Age   ┆ … ┆ City_Categor ┆ Stay_In_Curr ┆ Marital_Sta ┆ Purchase │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆   ┆ y            ┆ ent_City_Yea ┆ tus         ┆ ---      │
│ i64     ┆ str        ┆ str    ┆ str   ┆   ┆ ---          ┆ rs           ┆ ---         ┆ i64      │
│         ┆            ┆        ┆       ┆   ┆ str          ┆ ---          ┆ i64         ┆          │
│         ┆            ┆        ┆       ┆   ┆              ┆ str          ┆             ┆          │
╞═════════╪════════════╪════════╪═══════╪═══╪══════════════╪══════════════╪═════════════╪══════════╡
│ 1006035 ┆ P00375436  ┆ F      ┆ 26-35 ┆ … ┆ C            ┆ 3            ┆ 0           ┆ 371      │
│ 1006036 ┆ P00375436  ┆ F      ┆ 26-35 ┆ … ┆ B            ┆ 4+           ┆ 1           ┆ 137      │
│ 1006038 ┆ P00375436  ┆ F      ┆ 55+   ┆ … ┆ C            ┆ 2            ┆ 0           ┆ 365      │
│ 1006038 ┆ P00375436  ┆ F      ┆ 55+   ┆ … ┆ C            ┆ 2            ┆ 0           ┆ 365      │
│ 1006039 ┆ P00371644  ┆ F      ┆ 46-50 ┆ … ┆ B            ┆ 4+           ┆ 1           ┆ 490      │
└─────────┴────────────┴────────┴───────┴───┴──────────────┴──────────────┴─────────────┴──────────┘

In [8]:
# Display the last 10 rows.
df.tail(10)

shape: (10, 9)
┌─────────┬────────────┬────────┬───────┬───┬──────────────┬──────────────┬─────────────┬──────────┐
│ User_ID ┆ Product_ID ┆ Gender ┆ Age   ┆ … ┆ City_Categor ┆ Stay_In_Curr ┆ Marital_Sta ┆ Purchase │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆   ┆ y            ┆ ent_City_Yea ┆ tus         ┆ ---      │
│ i64     ┆ str        ┆ str    ┆ str   ┆   ┆ ---          ┆ rs           ┆ ---         ┆ i64      │
│         ┆            ┆        ┆       ┆   ┆ str          ┆ ---          ┆ i64         ┆          │
│         ┆            ┆        ┆       ┆   ┆              ┆ str          ┆             ┆          │
╞═════════╪════════════╪════════╪═══════╪═══╪══════════════╪══════════════╪═════════════╪══════════╡
│ 1006025 ┆ P00370853  ┆ F      ┆ 26-35 ┆ … ┆ B            ┆ 1            ┆ 0           ┆ 48       │
│ 1006026 ┆ P00371644  ┆ M      ┆ 36-45 ┆ … ┆ C            ┆ 1            ┆ 1           ┆ 494      │
│ 1006029 ┆ P00372445  ┆ F      ┆ 26-35 ┆ … ┆ C            ┆ 1            ┆ 1           ┆ 599      │
│ 1006032 ┆ P00372445  ┆ M      ┆ 46-50 ┆ … ┆ A            ┆ 3            ┆ 0           ┆ 473      │
│ 1006033 ┆ P00372445  ┆ M      ┆ 51-55 ┆ … ┆ B            ┆ 1            ┆ 1           ┆ 368      │
│ 1006035 ┆ P00375436  ┆ F      ┆ 26-35 ┆ … ┆ C            ┆ 3            ┆ 0           ┆ 371      │
│ 1006036 ┆ P00375436  ┆ F      ┆ 26-35 ┆ … ┆ B            ┆ 4+           ┆ 1           ┆ 137      │
│ 1006038 ┆ P00375436  ┆ F      ┆ 55+   ┆ … ┆ C            ┆ 2            ┆ 0           ┆ 365      │
│ 1006038 ┆ P00375436  ┆ F      ┆ 55+   ┆ … ┆ C            ┆ 2            ┆ 0           ┆ 365      │
│ 1006039 ┆ P00371644  ┆ F      ┆ 46-50 ┆ … ┆ B            ┆ 4+           ┆ 1           ┆ 490      │
└─────────┴────────────┴────────┴───────┴───┴──────────────┴──────────────┴─────────────┴──────────┘

In [9]:
# Display any row.
df.sample()

shape: (1, 9)
┌─────────┬────────────┬────────┬───────┬───┬──────────────┬──────────────┬─────────────┬──────────┐
│ User_ID ┆ Product_ID ┆ Gender ┆ Age   ┆ … ┆ City_Categor ┆ Stay_In_Curr ┆ Marital_Sta ┆ Purchase │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆   ┆ y            ┆ ent_City_Yea ┆ tus         ┆ ---      │
│ i64     ┆ str        ┆ str    ┆ str   ┆   ┆ ---          ┆ rs           ┆ ---         ┆ i64      │
│         ┆            ┆        ┆       ┆   ┆ str          ┆ ---          ┆ i64         ┆          │
│         ┆            ┆        ┆       ┆   ┆              ┆ str          ┆             ┆          │
╞═════════╪════════════╪════════╪═══════╪═══╪══════════════╪══════════════╪═════════════╪══════════╡
│ 1003641 ┆ P00093242  ┆ M      ┆ 26-35 ┆ … ┆ B            ┆ 1            ┆ 0           ┆ 6132     │
└─────────┴────────────┴────────┴───────┴───┴──────────────┴──────────────┴─────────────┴──────────┘

#### Check for Missing Values

In [10]:
# Number of null values per column.
# pl.all(): Returns a DataFrame of boolean values where True indicates that the value is null, and False indicates that the value is not null.
# pl.all().is_null(): Computes the sum along each column, counting the number of null values per column.
# pl.all().is_null().sum()

df.select(pl.all().is_null().sum())

shape: (1, 9)
┌─────────┬────────────┬────────┬─────┬───┬───────────────┬──────────────┬──────────────┬──────────┐
│ User_ID ┆ Product_ID ┆ Gender ┆ Age ┆ … ┆ City_Category ┆ Stay_In_Curr ┆ Marital_Stat ┆ Purchase │
│ ---     ┆ ---        ┆ ---    ┆ --- ┆   ┆ ---           ┆ ent_City_Yea ┆ us           ┆ ---      │
│ u32     ┆ u32        ┆ u32    ┆ u32 ┆   ┆ u32           ┆ rs           ┆ ---          ┆ u32      │
│         ┆            ┆        ┆     ┆   ┆               ┆ ---          ┆ u32          ┆          │
│         ┆            ┆        ┆     ┆   ┆               ┆ u32          ┆              ┆          │
╞═════════╪════════════╪════════╪═════╪═══╪═══════════════╪══════════════╪══════════════╪══════════╡
│ 0       ┆ 0          ┆ 0      ┆ 0   ┆ … ┆ 0             ┆ 0            ┆ 0            ┆ 0        │
└─────────┴────────────┴────────┴─────┴───┴───────────────┴──────────────┴──────────────┴──────────┘

In [11]:
df.select(pl.all().is_null().sum()).to_dicts()[0]

{'User_ID': 0,
 'Product_ID': 0,
 'Gender': 0,
 'Age': 0,
 'Occupation': 0,
 'City_Category': 0,
 'Stay_In_Current_City_Years': 0,
 'Marital_Status': 0,
 'Purchase': 0}

#### Duplicate Records

In [12]:
def sum_duplicated(df):
    return (df.filter(df.is_duplicated())).shape[0]-1 if ((df.filter(df.is_duplicated())).shape[0]) > 0 else 0

In [13]:
# Number of duplicated rows 
# df.duplicated(): Generates a Series of boolean values indicating whether each row is a duplicated row. 
#                  Returns True if a row is duplicated and False if it is not.
# df.duplicated().sum(): Computes the sum of True values, representing the total count of duplicated rows in the DataFrame.
print(f"Number of duplicated rows = {sum_duplicated(df)}")

Number of duplicated rows = 1

In [14]:
# Remove duplicates
df = df.unique()

#### Descriptive Statistics

In [15]:
# Descriptive statistics for numerical columns
# df.describe() : Calculates descriptive statistics such as the mean, standard deviation, quartiles,
# and outliers, for each numerical column of the DataFrame.
df.describe()

shape: (9, 10)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ User_ID    ┆ Product_I ┆ Gender ┆ … ┆ City_Cate ┆ Stay_In_C ┆ Marital_S ┆ Purchase  │
│ ---        ┆ ---        ┆ D         ┆ ---    ┆   ┆ gory      ┆ urrent_Ci ┆ tatus     ┆ ---       │
│ str        ┆ f64        ┆ ---       ┆ str    ┆   ┆ ---       ┆ ty_Years  ┆ ---       ┆ f64       │
│            ┆            ┆ str       ┆        ┆   ┆ str       ┆ ---       ┆ f64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 550068.0   ┆ 550068    ┆ 550068 ┆ … ┆ 550068    ┆ 550068    ┆ 550068.0  ┆ 550068.0  │
│ null_count ┆ 0.0        ┆ 0         ┆ 0      ┆ … ┆ 0         ┆ 0         ┆ 0.0       ┆ 0.0       │
│ mean       ┆ 1.0030e6   ┆ null      ┆ null   ┆ … ┆ null      ┆ null      ┆ 0.409653  ┆ 9263.9687 │
│            ┆            ┆           ┆        ┆   ┆           ┆           ┆           ┆ 13        │
│ std        ┆ 1727.59158 ┆ null      ┆ null   ┆ … ┆ null      ┆ null      ┆ 0.49177   ┆ 5023.0653 │
│            ┆ 6          ┆           ┆        ┆   ┆           ┆           ┆           ┆ 94        │
│ min        ┆ 1.000001e6 ┆ P00000142 ┆ F      ┆ … ┆ A         ┆ 0         ┆ 0.0       ┆ 12.0      │
│ 25%        ┆ 1.001516e6 ┆ null      ┆ null   ┆ … ┆ null      ┆ null      ┆ 0.0       ┆ 5823.0    │
│ 50%        ┆ 1.003077e6 ┆ null      ┆ null   ┆ … ┆ null      ┆ null      ┆ 0.0       ┆ 8047.0    │
│ 75%        ┆ 1.004478e6 ┆ null      ┆ null   ┆ … ┆ null      ┆ null      ┆ 1.0       ┆ 12054.0   │
│ max        ┆ 1.00604e6  ┆ P0099942  ┆ M      ┆ … ┆ C         ┆ 4+        ┆ 1.0       ┆ 23961.0   │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [16]:
# Number of elements in the 'price' column.
# df['price']: Access to the 'price' column.
# len(df['price']): Calculates the number of elements in the 'price' column.
len(df['Purchase'])

550068

In [17]:
# Maximum price of cars.
# df['price']: Access to the 'price' column.
# df['price'].max(): Calculates the maximum value in the 'price' column.
df['Purchase'].max()

23961

In [18]:
# Minimum price of cars.
# df['price']: Access to the 'price' column.
# df['price'].min(): Calculates the minimum value in the 'price' column.
df['Purchase'].min()

12

In [19]:
# Average price of cars
# df['price']: Access to the 'price' column.  
# mean(df['price']):Calculates the mean of the values in the 'price' column.
# round(df['price'].mean(),4): Rounds the result to four decimal places.
round(df['Purchase'].mean(),4)

9263.9687

In [20]:
# Median of the price column.
# df['price']: Access to the 'price' column. 
# df['price'].median() : Calculates the median of the values in the 'price' column.
df['Purchase'].median()

8047.0

In [21]:
# Variance for the price column.
# df['price']: Access to the 'price' column.
# df['price'].var(): Calculates the variance of the values in the 'price' column. 
# round(df['price'].var(),4): Rounds the result to 4 decimal places.
round(df['Purchase'].var(),4)

25231185.9506

In [22]:
# Standard Deviation of the price column.
# df['price']: Access to the 'price' column.
# df['price'].std(): Calculates the standard deviation of the values in the 'price' column. 
# round(df['price'].std(),4): Rounds the result to 4 decimal places.
round(df['Purchase'].std(),4)

5023.0654

#### Column Operations

In [23]:
df = df.rename({
    'User_ID': 'id_user',
    'Product_ID': 'id_product',
    'Gender': 'gender',
    'Age': 'age',
    'Occupation': 'occupation',
    'City_Category': 'city_category',
    'Stay_In_Current_City_Years': 'city_duration',
    'Marital_Status': 'marital_status',
    'Purchase': 'purchase'    
})

In [24]:
# Get the column names
# df.columns: Returns the column names of the DataFrame.
df.columns

['id_user',
 'id_product',
 'gender',
 'age',
 'occupation',
 'city_category',
 'city_duration',
 'marital_status',
 'purchase']

In [25]:
# Column Selection
# df[["year"]]: Selects the 'year' column from the DataFrame as a new DataFrame (the double brackets maintain the DataFrame structure).
# head():  by default, the first 5 rows will be displayed.
df[["age"]].head()

shape: (5, 1)
┌───────┐
│ age   │
│ ---   │
│ str   │
╞═══════╡
│ 46-50 │
│ 26-35 │
│ 36-45 │
│ 36-45 │
│ 26-35 │
└───────┘

In [26]:
# Column Selection
# Remember, a Series is the one-dimensional data structure in pandas that represents a column.
# df["year"]: Access to the 'year' column.
# head():  by default, the first 5 rows will be displayed.
df["age"].head()

shape: (10,)
Series: 'age' [str]
[
	"46-50"
	"26-35"
	"36-45"
	"36-45"
	"26-35"
	"36-45"
	"0-17"
	"18-25"
	"18-25"
	"36-45"
]

In [27]:
df.select(pl.col("age")).head()

shape: (5, 1)
┌───────┐
│ age   │
│ ---   │
│ str   │
╞═══════╡
│ 46-50 │
│ 26-35 │
│ 36-45 │
│ 36-45 │
│ 26-35 │
└───────┘

In [28]:
# Selecting Multiple Columns
# df[['year', 'mark', 'model', 'price']]: Selects a subset of the DataFrame.
# head():  by default, the first 5 rows will be displayed. 
df[['id_user','id_product','gender','age','marital_status','purchase']].head(25)

shape: (25, 6)
┌─────────┬────────────┬────────┬───────┬────────────────┬──────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ marital_status ┆ purchase │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---            ┆ ---      │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64            ┆ i64      │
╞═════════╪════════════╪════════╪═══════╪════════════════╪══════════╡
│ 1000004 ┆ P0097242   ┆ M      ┆ 46-50 ┆ 1              ┆ 15686    │
│ 1000009 ┆ P00161442  ┆ M      ┆ 26-35 ┆ 0              ┆ 6973     │
│ 1000010 ┆ P00297942  ┆ F      ┆ 36-45 ┆ 1              ┆ 5875     │
│ 1000010 ┆ P00266842  ┆ F      ┆ 36-45 ┆ 1              ┆ 8854     │
│ 1000012 ┆ P00365242  ┆ M      ┆ 26-35 ┆ 0              ┆ 6865     │
│ …       ┆ …          ┆ …      ┆ …     ┆ …              ┆ …        │
│ 1000042 ┆ P00030942  ┆ M      ┆ 26-35 ┆ 1              ┆ 2826     │
│ 1000044 ┆ P00112142  ┆ M      ┆ 46-50 ┆ 1              ┆ 19072    │
│ 1000044 ┆ P00233542  ┆ M      ┆ 46-50 ┆ 1              ┆ 15853    │
│ 1000044 ┆ P00124842  ┆ M      ┆ 46-50 ┆ 1              ┆ 1582     │
│ 1000045 ┆ P00020042  ┆ F      ┆ 46-50 ┆ 1              ┆ 3715     │
└─────────┴────────────┴────────┴───────┴────────────────┴──────────┘

In [29]:
df['age'].unique().sort()

shape: (7,)
Series: 'age' [str]
[
	"0-17"
	"18-25"
	"26-35"
	"36-45"
	"46-50"
	"51-55"
	"55+"
]

In [30]:
df=df.with_columns(df['age'].map_elements(lambda x: 0 if x == '0-17' else 1 if x == '18-25' else 2 if x == '26-35' else 3 if x == '36-45' else 4 if x == '46-50' else 5 if x == '51-55' else 6).alias('age_numeric'))

In [31]:
# Obtain the unique values in the 'Year' column.
# df['year']: Access to the 'year' column.
# unique():   Returns an array with the unique values ​​present in the 'year' column.
df['age'].unique()

shape: (7,)
Series: 'age' [str]
[
	"18-25"
	"36-45"
	"46-50"
	"26-35"
	"51-55"
	"55+"
	"0-17"
]

In [32]:
# Get the unique values and sort them from smallest to largest.
# df['year']:           Access to the 'year' column.
# df['year'].unique():  Returns an array with the unique values ​​present in the 'year' column.
# sorted(df['year'].unique()): Sorts the unique values ​​in ascending order.
print(sorted(df['age'].unique()))

['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+']

In [33]:
df.sort("age", descending=True).head()

shape: (5, 10)
┌─────────┬────────────┬────────┬─────┬───┬───────────────┬───────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age ┆ … ┆ city_duration ┆ marital_statu ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ --- ┆   ┆ ---           ┆ s             ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str ┆   ┆ str           ┆ ---           ┆ i64      ┆ i64         │
│         ┆            ┆        ┆     ┆   ┆               ┆ i64           ┆          ┆             │
╞═════════╪════════════╪════════╪═════╪═══╪═══════════════╪═══════════════╪══════════╪═════════════╡
│ 1000080 ┆ P00064042  ┆ M      ┆ 55+ ┆ … ┆ 3             ┆ 1             ┆ 8248     ┆ 6           │
│ 1000089 ┆ P00223942  ┆ F      ┆ 55+ ┆ … ┆ 1             ┆ 1             ┆ 8804     ┆ 6           │
│ 1000090 ┆ P0097842   ┆ M      ┆ 55+ ┆ … ┆ 1             ┆ 0             ┆ 6975     ┆ 6           │
│ 1000293 ┆ P00211242  ┆ M      ┆ 55+ ┆ … ┆ 1             ┆ 1             ┆ 7764     ┆ 6           │
│ 1000293 ┆ P00320942  ┆ M      ┆ 55+ ┆ … ┆ 1             ┆ 1             ┆ 4375     ┆ 6           │
└─────────┴────────────┴────────┴─────┴───┴───────────────┴───────────────┴──────────┴─────────────┘

In [34]:
# Count of records for each value present in the specified column.

# df.engine_category: Access to the 'engine_category' column.
# df.engine_category.value_counts(): Computes the count of occurrences for each value in the 'engine_category' column.
df['age_numeric'].value_counts().sort("count").reverse()

shape: (7, 2)
┌─────────────┬────────┐
│ age_numeric ┆ count  │
│ ---         ┆ ---    │
│ i64         ┆ u32    │
╞═════════════╪════════╡
│ 2           ┆ 219587 │
│ 3           ┆ 110013 │
│ 1           ┆ 99660  │
│ 4           ┆ 45701  │
│ 5           ┆ 38501  │
│ 6           ┆ 21504  │
│ 0           ┆ 15102  │
└─────────────┴────────┘

In [35]:
# Deletion of the column.
# columns=[]: Specifies the list of columns to be deleted.
# inplace=True:  Applies the changes directly to the DataFrame.
df=df.drop(["city_category", "city_duration"])

####  Exploring Data

In [36]:
df.head()

shape: (5, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1000004 ┆ P0097242   ┆ M      ┆ 46-50 ┆ 7          ┆ 1              ┆ 15686    ┆ 4           │
│ 1000009 ┆ P00161442  ┆ M      ┆ 26-35 ┆ 17         ┆ 0              ┆ 6973     ┆ 2           │
│ 1000010 ┆ P00297942  ┆ F      ┆ 36-45 ┆ 1          ┆ 1              ┆ 5875     ┆ 3           │
│ 1000010 ┆ P00266842  ┆ F      ┆ 36-45 ┆ 1          ┆ 1              ┆ 8854     ┆ 3           │
│ 1000012 ┆ P00365242  ┆ M      ┆ 26-35 ┆ 12         ┆ 0              ┆ 6865     ┆ 2           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [53]:
# Get the first row (iloc).
# df.iloc[0] : Selects the first row of the DataFrame using the zero positional index.
df[0]

shape: (1, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1000004 ┆ P0097242   ┆ M      ┆ 46-50 ┆ 7          ┆ 1              ┆ 15686    ┆ 4           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [38]:
# Get the first 5 rows (return a DataFrame).
# df.iloc[initial:final]: Elements are selected from the initial index to the final index minus one. 
# df.iloc[0:5] :          Selects rows from index 0 to index 4.
df[2:5]

shape: (3, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1000010 ┆ P00297942  ┆ F      ┆ 36-45 ┆ 1          ┆ 1              ┆ 5875     ┆ 3           │
│ 1000010 ┆ P00266842  ┆ F      ┆ 36-45 ┆ 1          ┆ 1              ┆ 8854     ┆ 3           │
│ 1000012 ┆ P00365242  ┆ M      ┆ 26-35 ┆ 12         ┆ 0              ┆ 6865     ┆ 2           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [39]:
# Select specific rows of the DataFrame according to the index.
# df.iloc[[0, 4, 7, 8]]: Selects rows at positions 0, 4, 7, and 8 of the DataFrame (uses positional index).
df[0,2,4,8]

shape: (4, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1000004 ┆ P0097242   ┆ M      ┆ 46-50 ┆ 7          ┆ 1              ┆ 15686    ┆ 4           │
│ 1000010 ┆ P00297942  ┆ F      ┆ 36-45 ┆ 1          ┆ 1              ┆ 5875     ┆ 3           │
│ 1000012 ┆ P00365242  ┆ M      ┆ 26-35 ┆ 12         ┆ 0              ┆ 6865     ┆ 2           │
│ 1000022 ┆ P00280542  ┆ M      ┆ 18-25 ┆ 15         ┆ 0              ┆ 4570     ┆ 1           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [40]:
#Seleccionar las filas de la 2 a la 4 y las columnas de la 3 a la 6:
df[1:5, 2:6]

shape: (4, 4)
┌────────┬───────┬────────────┬────────────────┐
│ gender ┆ age   ┆ occupation ┆ marital_status │
│ ---    ┆ ---   ┆ ---        ┆ ---            │
│ str    ┆ str   ┆ i64        ┆ i64            │
╞════════╪═══════╪════════════╪════════════════╡
│ M      ┆ 26-35 ┆ 17         ┆ 0              │
│ F      ┆ 36-45 ┆ 1          ┆ 1              │
│ F      ┆ 36-45 ┆ 1          ┆ 1              │
│ M      ┆ 26-35 ┆ 12         ┆ 0              │
└────────┴───────┴────────────┴────────────────┘

In [41]:
# Select data by position (row and column).
# df.iloc[4, 6]: Accesses the value located at row 5 and column 7 of the DataFrame (using positional index).
df.slice(0,1)

shape: (1, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1000004 ┆ P0097242   ┆ M      ┆ 46-50 ┆ 7          ┆ 1              ┆ 15686    ┆ 4           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [42]:
df.slice(5, 10)

shape: (10, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1000014 ┆ P00276642  ┆ M      ┆ 36-45 ┆ 0          ┆ 0              ┆ 5848     ┆ 3           │
│ 1000019 ┆ P00117442  ┆ M      ┆ 0-17  ┆ 10         ┆ 0              ┆ 7011     ┆ 0           │
│ 1000022 ┆ P00133742  ┆ M      ┆ 18-25 ┆ 15         ┆ 0              ┆ 3449     ┆ 1           │
│ 1000022 ┆ P00280542  ┆ M      ┆ 18-25 ┆ 15         ┆ 0              ┆ 4570     ┆ 1           │
│ 1000023 ┆ P00278942  ┆ M      ┆ 36-45 ┆ 0          ┆ 1              ┆ 15766    ┆ 3           │
│ 1000023 ┆ P00270942  ┆ M      ┆ 36-45 ┆ 0          ┆ 1              ┆ 19239    ┆ 3           │
│ 1000024 ┆ P00248942  ┆ F      ┆ 26-35 ┆ 7          ┆ 1              ┆ 15774    ┆ 2           │
│ 1000026 ┆ P00059542  ┆ M      ┆ 26-35 ┆ 7          ┆ 1              ┆ 9734     ┆ 2           │
│ 1000028 ┆ P00084442  ┆ F      ┆ 26-35 ┆ 1          ┆ 1              ┆ 758      ┆ 2           │
│ 1000032 ┆ P00332342  ┆ F      ┆ 26-35 ┆ 0          ┆ 1              ┆ 7134     ┆ 2           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [43]:
df.slice(-5, -1)

shape: (5, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1005972 ┆ P00371644  ┆ F      ┆ 26-35 ┆ 20         ┆ 0              ┆ 598      ┆ 2           │
│ 1005989 ┆ P00370853  ┆ F      ┆ 0-17  ┆ 10         ┆ 0              ┆ 61       ┆ 0           │
│ 1006017 ┆ P00371644  ┆ F      ┆ 36-45 ┆ 7          ┆ 0              ┆ 371      ┆ 3           │
│ 1006032 ┆ P00372445  ┆ M      ┆ 46-50 ┆ 7          ┆ 0              ┆ 473      ┆ 4           │
│ 1006038 ┆ P00375436  ┆ F      ┆ 55+   ┆ 1          ┆ 0              ┆ 365      ┆ 6           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [44]:
df.slice(0, 5).select('age')

shape: (5, 1)
┌───────┐
│ age   │
│ ---   │
│ str   │
╞═══════╡
│ 46-50 │
│ 26-35 │
│ 36-45 │
│ 36-45 │
│ 26-35 │
└───────┘

#### Data Filtering

In [45]:
# [Approach 1] Filter cars in a specific year
# df['year'] == 1967:     Generates a Boolean Series where each element in the 'year' column is evaluated if it equals 1967. 
#                         This generates a Boolean mask. 
# df[df['year'] == 1967]: Uses the Boolean mask as a filtering criterion to select only the rows where the condition is true.
len(df.filter(pl.col('age_numeric') > 3))

105706

In [50]:
len(df.filter(df["age_numeric"] > 3))

105706

In [46]:
# [Approach  2] Filter cars in a specific year
# df.query('year == 1967'): Uses the 'qP00371644uery' function to filter and selects only the rows where the values in the 'year' column equals 1967.
df.filter(pl.col('id_product') == 'P00107342')

shape: (5, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1005451 ┆ P00107342  ┆ F      ┆ 26-35 ┆ 1          ┆ 1              ┆ 23525    ┆ 2           │
│ 1001864 ┆ P00107342  ┆ M      ┆ 36-45 ┆ 7          ┆ 0              ┆ 18942    ┆ 3           │
│ 1003588 ┆ P00107342  ┆ M      ┆ 26-35 ┆ 2          ┆ 0              ┆ 23354    ┆ 2           │
│ 1001706 ┆ P00107342  ┆ M      ┆ 26-35 ┆ 20         ┆ 1              ┆ 18750    ┆ 2           │
│ 1001449 ┆ P00107342  ┆ M      ┆ 36-45 ┆ 20         ┆ 1              ┆ 14498    ┆ 3           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [47]:
# Display the record of the oldest car.
# df['year'].min():                   Calculates the minimum value in the 'year' column.           
# df['year']==df['year'].min():       Creates a Boolean Series by evaluating if each element in the 'year' column equals the minimum value.
#                                     This generates a Boolean mask.
# df[df['year'] == df['year'].min()]: Uses the Boolean mask as a filtering criterion to select only the rows where the condition is true.
#df[df['id_user'] == df['purchase'].min()]
#df.select(pl.col("id_user"))== df['purchase'].min()

df.filter(pl.col("purchase") == df['purchase'].max())

shape: (3, 8)
┌─────────┬────────────┬────────┬───────┬────────────┬────────────────┬──────────┬─────────────┐
│ id_user ┆ id_product ┆ gender ┆ age   ┆ occupation ┆ marital_status ┆ purchase ┆ age_numeric │
│ ---     ┆ ---        ┆ ---    ┆ ---   ┆ ---        ┆ ---            ┆ ---      ┆ ---         │
│ i64     ┆ str        ┆ str    ┆ str   ┆ i64        ┆ i64            ┆ i64      ┆ i64         │
╞═════════╪════════════╪════════╪═══════╪════════════╪════════════════╪══════════╪═════════════╡
│ 1003160 ┆ P00052842  ┆ M      ┆ 26-35 ┆ 17         ┆ 0              ┆ 23961    ┆ 2           │
│ 1001474 ┆ P00052842  ┆ M      ┆ 26-35 ┆ 4          ┆ 1              ┆ 23961    ┆ 2           │
│ 1002272 ┆ P00052842  ┆ M      ┆ 26-35 ┆ 0          ┆ 0              ┆ 23961    ┆ 2           │
└─────────┴────────────┴────────┴───────┴────────────┴────────────────┴──────────┴─────────────┘

In [48]:
# Select cars that have mileage greater than 1,000,000km.
# df['mileage'] > 1000000:    Creates a Boolean Series by evaluating if each element in the 'mileage' column is greater than 1,000,000. This generates a Boolean mask. 
# df[df['mileage'] > 1000000]:Uses the Boolean mask as a filtering criterion to select only the rows where the condition is true.
df[df['purchase'] > 20000]

TypeError: cannot use `__getitem__` on DataFrame with item shape: (550_068,)
Series: 'purchase' [bool]
[
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	…
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
	false
] of type 'Series'

In [ ]:
# Select cars in a city and of a specific model. 

# Filtering with multiple conditions 
# Logical operation and --> & ==> where both conditions must be true.
# Logical operation or  --> | ==> where at least one of the conditions must be true.

# df['city'] == 'Kielce': Indicates rows where the city is 'Kielce'.
# df['model']=='mustang': Indicates rows where the car model is 'mustang'.
# By combining the 2 masks, using the 'And' operator, a single mask is generated indicating the rows that simultaneously meet both conditions.
# Finally, the resulting Boolean mask is used as a filtering criterion to select only the rows that meet both nested conditions.
df[(df['city'] == 'Kielce') & (df['model']=='mustang')]

In [ ]:
# Select Toyota cars with an 'vol_engine' greater than 4500 and with a 'price' greater than 100,000. 

# df['mark'] == 'toyota':  Indicates rows where the brand is 'Toyota'.
# df['vol_engine'] > 4500: Indicates rows where the volume is greater than 4500. 
# df['price'] > 100000:    Indicates rows where the price is greater than 100,000. 
# By combining the three masks, using the 'And' operator, a single mask is generated indicating the rows that simultaneously meet all the conditions. 
# Finally, the resulting Boolean mask is used as a filtering criterion to select only the rows that meet the three nested conditions.
df[(df['mark'] == 'toyota') & (df['vol_engine'] > 4500) & (df['price'] > 100000)]

#### Grouping and Aggregation

In [ ]:
df.group_by('id_product').agg(pl.len().alias('cantidad_filas_por_producto'))

In [ ]:
# Find the top 10 highest average prices per brand.
# df.groupby('mark')['price'].mean():   Groups the DataFrame by the 'mark' column and calculates the average prices for each group of brands.
# sort_values(ascending=False):         Sorts the results in descending order.
# head(10):                             Returns the first 10 rows.
df.groupby('mark')['price'].mean().sort_values(ascending=False).head(10)

In [ ]:
# Find the Top 10 maximum mileage values ​​per brand, sorted from highest to lowest.
# df.groupby('mark')['mileage'].max():Groups the DataFrame by the 'mark' column and finds the maximum value of the 'mileage' column for each group of brand. 
# sort_values(ascending=False):       Sorts the results in descending order.
# head(10):                           Returns the first 10 rows.
df.groupby('mark')['mileage'].max().sort_values(ascending=False).head(10)

In [ ]:
# Find the Top 10 average car prices per province and year, sorted from highest to lowest.
# df.groupby(['province', 'year'])['price'].mean(): 
# Groups the DataFrame by the 'province' and 'year' columns and calculates the average prices for each resulting group from the combination of those two columns.
# sort_values(ascending=False): Sorts the results in descending order.
# head(10):                     Returns the first 10 rows.
df.groupby(['province', 'year'])['price'].mean().sort_values(ascending=False).head(10)

In [ ]:
# Find the Top 10 cars with the maximum mileage values ​​per year, sorted from highest to lowest
# df.groupby('year')['mileage'].idxmax():     For each year, find the index of the row with the maximum value in the 'mileage' column. 
# df.loc[]:                                   Selects the rows from the original DataFrame using the indexes were found in the previous step. 
# sort_values(by='mileage', ascending=False): Sorts the selected rows in descending order based on the 'mileage' values.
# head(10):                                   Returns the first 10 rows.
df.loc[df.groupby('year')['mileage'].idxmax()].sort_values(by='mileage', ascending=False).head(10)

In [ ]:
# Find the Top 10 cars with the highest percentage change in price for each brand grouped by year
# df.groupby('mark')['price'].pct_change(): Calculates the percentage change in the 'price' column for each group of brands.
# groupby(df['year']).idxmax(): Groups the results by year and finding the indexes of the rows with the highest percentage change in 'price' for each year.
# head(10):                     Returns the first 10 rows.
# df.loc[]:                     Selects the rows from the original DataFrame using the indexes were found.
df.loc[df.groupby('mark')['price'].pct_change().groupby(df['year']).idxmax().head(10)]

In [ ]:
# [Approach 1] Find the cars with the highest engine volume for each fuel type
# df.groupby('fuel')['vol_engine'].idxmax(): For each fuel type, finds the index of the row with the highest value in the 'vol_engine' column.
# df.loc[]:  Selects the rows from the original DataFrame using the indexes were found.

df.loc[df.groupby('fuel')['vol_engine'].idxmax()]

In [ ]:
# [Approach 2] Find the cars with the highest engine volume for each fuel type

# lambda group: group.loc[group['vol_engine'].idxmax()]: 
# Defines a lambda function for each group, and finding the index of the row with the highest value in the 'vol_engine' column. 
# df.groupby('fuel').apply(...): Groups the DataFrame by the 'fuel' column and applies the above function to each resulting group. 
# The lambda function is applied to each fuel group, returning the rows with the highest engine volume for each fuel type.
df.groupby('fuel').apply(lambda group: group.loc[group['vol_engine'].idxmax()])

In [ ]:
import polars as pl

data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'Age': [22, 31, 22, 31, 31],
    'City': ['New York', 'San Francisco', 'New York', 'Los Angeles', 'San Francisco']
}
df = pl.DataFrame(data)
# Original dataframe
print("Dataframe")
print(df)

# Remove duplicates based on specific column
new_df = df.unique(subset=['Age'])
print("Remove duplicates based on specific column")
print(new_df)

# Remove duplicates on all columns
new_df1 = df.unique()
print("Remove duplicates on all columns")
print(new_df1)

In [ ]:
df = pl.DataFrame(dict(id=["i", "j", "k"], a=[1, 2, 3], b=[4, 5, 6]))
df

In [ ]:
df.transpose(include_header=True,column_names=["i", "j", "k"])

In [ ]:
##########################

In [ ]:
df = pl.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
df

In [ ]:
df.transpose(include_header=True)

In [ ]:
df.transpose(include_header=True, header_name="new_id", column_names=["x", "y", "z"])